.search-box {
  /* width: fit-content;
  height: fit-content; */
  display: flex;
  align-items: flex-start;
  /* position: absolute;
  left: 0%;
  right: 0%; */
  margin-bottom: 6%;
  margin-top: 5%;
  width: 100%;
}

.flex-search {
  width: 100%;
  margin-bottom: 4%;
}

.input-search {
  color: #45a29e;
  font-size: 18px;
  letter-spacing: 2px;
  outline: none;
  width: 100%;
  padding: 2%;
}

.input-search::placeholder {
  color: #c5c6c7;
  font-size: 18px;
  letter-spacing: 2px;
  font-weight: 100;
}

.input-search, select, textarea {
  background-color: #1f283332;
  outline: none;
  padding-left: 3%;
  border: none;
}

.input-search:hover, select, textarea {
  background-color: #0b0f1432;
}
